
<div class="panel panel-default" style="margin-top:20px">

    <div class="panel-heading">
        <i class="icon-file"></i>
        Public Notice
    </div> <!-- /widget-header -->

    <div class="panel-body">

        <p>Operations Bureau</p>
        <p>Comprises the Operations Division, the Counter-Terrorism and Internal Security Division, and the Key Points and Search Division which includes the Police Dog Unit. It deals mainly with the staffing of operational matters which include the formulation and dissemination of relevant Force orders, boundary security, deployment of resources and liaison with the Hong Kong garrison.</p>

        <p>Police Tactical Unit </p>
        <p>Includes Training, Administration and the Special Duties Unit. Among other things, it reviews regularly tactics used in crowd management and riot control. </p>

        <p>Explosive Ordnance Disposal Bureau </p>
        <p> Is responsible for dealing with all illegal explosive objects (other than small arms ammunition) including Chemical, Biological, Radiological and Nuclear (CBRN) Weapons in Hong Kong.  The Bureau is trained and equipped to deal with items both on dry land and underwater and is called out, on average, over one to two times per week.  Items dealt with range from illegal fireworks, improvised explosive devices (home made bombs) to large World War II aircraft bombs. </p>
    </div> <!-- /widget-content -->

</div>

<div class="panel panel-default" style="margin-top:20px">

    <div class="panel-heading">
        <i class="icon-file"></i>
        Personal message
    </div> <!-- /widget-header -->

    <div class="panel-body">
        <ul class="chat">
            <li class="left clearfix">
                <span class="chat-img pull-left">
                    <img src="http://placehold.it/50/D7E79E/fff" alt="User Avatar" class="img-circle">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <strong class="primary-font">Borrow request</strong>
                        <small class="pull-right text-muted">
                            <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
                        </small>
                    </div>
                    <p>Team B ask for some items. <a>details</a> </p>
                </div>
            </li>
        </ul>
    </div> <!-- /widget-content -->

</div>

