<table class="table user_list">
    <tr>
        <th>User Name</th>
        <th>Operation</th>
    </tr>
    <tbody data-bind="foreach:userList">
        <tr>
            <td data-bind="text:username"></td>
            <td>
                <span class="glyphicon glyphicon-remove" aria-hidden="true" data-bind="click:$parent.requestDelUser"></span>
            </td>
        </tr>
    </tbody>
</table>

<ul class="pagination">
    <li>
        <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
        <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
</ul>

<script type="text/javascript">
    $(function(){
        var model = new ListUserModelView();
        ko.applyBindings(model,$("table.user_list").get(0));
        model.requestUserList();
    })
</script>