<div id="content_wrap">
    <h2>Manage Users</h2>

        <div class="clearfix">
            <div class="pull-right" style="margin-bottom: 10px">
                <button class="btn btn-success" type="button" data-toggle="modal" data-target="#createUserModal" data-bind="click:buttonCreateHandle">Create</button>
            </div>
        </div>

        <table class="table table-striped table-bordered" id="list_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Division</th>
                    <th>Subunit</th>
                    <th>Team</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <!-- Modal for delete User -->
    <div class="modal fade" id="del_user_modal" data-toggle="modal" tabindex="-1" role="dialog" aria-labelledby="del_user_modal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header"><h4>Delete user</h4></div>
                <div class="modal-body">
                Are you sure want to delete user "<span data-bind="text:delete_user_display_name"></span>"
                </div>
                <div class="modal-footer">
                    <button data-bind="click:requestDelUser" type="submit" class="btn btn-danger" data-dismiss="modal">Confirm</button>
                    <button class="btn" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create User Model -->
<div class="modal fade" id="createUserModal" data-toggle="createUserModal" tabindex="-1" role="dialog" aria-labelledby="createUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-body">
                <div class="tabbable tabbable-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1_1" data-toggle="tab">Basic Information</a></li>
                        <li><a href="#tab_password" data-toggle="tab">Password</a></li>
                        <li><a href="#tab_1_2" data-toggle="tab">User Group</a></li>
                        <li><a href="#tab_1_3" data-toggle="tab">Access Feature</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                                <!-- Begin Tab1 Form-->
                            <div class="portlet-body">
                                <form action="" id="rightForm">
                                    <div class="form-group">
                                        <label for="username">User name:</label>
                                        <input data-bind="value:username" type="text" class="form-control" name="username"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Display name:</label>
                                        <input data-bind="value:display_name" type="text" class="form-control" name="display_name"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="position">Position:</label>
                                        <input data-bind="value:position" type="text" class="form-control" name="position"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="division">Divison:</label>
                                        <input data-bind="value:division" type="text" class="form-control" name="division"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="subunit">Subunit:</label>
                                        <input data-bind="value:subunit" type="text" class="form-control" name="subunit"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="team">Team:</label>
                                        <input data-bind="value:team" type="text" class="form-control" name="team"/>
                                    </div>

                                    <div class="modal-footer">
                                        <button data-bind="click:click_create_handle" type="submit" class="btn" data-dismiss="modal">Save</button>
                                        <button class="btn" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                                <!-- End Tab1 Form-->
                        </div>

                        <!-- Passord Tab -->
                        <div class="tab-pane" id="tab_password">
                            <form action="" id="rightForm">
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input data-bind="value:pw" type="password" class="form-control" name="password"/>
                                </div>
                                <div class="form-group">
                                    <label for="con_password">Confirm Password:</label>
                                    <input data-bind="value:confirm" type="password" class="form-control" name="con_password"/>
                                </div>
                                <div class="modal-footer">
                                    <button data-bind="click:click_create_handle" type="submit" class="btn" data-dismiss="modal">Save</button>
                                    <button class="btn" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                        <!-- / Passord Tab -->

                        <!-- Group Tab -->
                        <div class="tab-pane" id="tab_1_2">
                            <table class="table table-striped table-bordered" id="group_table">
                                <thead>
                                    <tr>
                                        <th>Group Name</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            Add Group:<input class="form-control" type="hidden" id="select_add_group">
                            <div class="modal-footer">
                                <button data-bind="click:click_create_handle" type="submit" class="btn" data-dismiss="modal">Save</button>
                                <button class="btn" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>

                        <div class="tab-pane" id="tab_1_3">
                            <table class="table table-striped table-bordered" id="feature_table">
                                <thead>
                                    <tr>
                                        <th>Access Feature</th>
                                        <th>Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                            Add feature:<input class="form-control" type="hidden" id="select_add_feature">
                            <div class="modal-footer">
                                <button data-bind="click:click_create_handle" type="submit" class="btn" data-dismiss="modal">Save</button>
                                <button class="btn" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- !Model -->


<script type="text/javascript">
    $(function(){
        //binding  table for listing user
        var userList = new ListUserModelView($("#list_table" ).get(0));
        ko.applyBindings(userList,$("#content_wrap").get(0));

        //binding create user modal
        var createViewModel = new CreateUserViewModel(userList,$("#group_table" ).get(0),$("#feature_table" ).get(0),$("#select_add_group" ).get(0),$("#select_add_feature" ).get(0));
        ko.applyBindings(createViewModel,$("#createUserModal").get(0));

        userList.createModel = createViewModel;
    })
</script>