<h2>Manage Users</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Division</th>
        <th>Subunit</th>
        <th>Team</th>
        <th>Access Right</th>
        <th>Edit User Information</th>
        <th>Delete</th>
    </tr>
    <tr>
        <td>Chan Tai Man</td>
        <td>Senior Police Constable</td>
        <td>Marine East Division</td>
        <td>IPSU</td>
        <td>Team 1</td>
        <td>General User</td>
        <td>
            <button type="button" data-toggle="modal" data-target="#myModal">Edit</button>
        </td>
        <td><input type="image" src="images/delete.jpg" alt="Submit" width="15" height="15"></td>
    </tr>
    <tr>
        <td>Fong Siu Ming</td>
        <td>West Division Divisional Commander</td>
        <td>Marine West Division</td>
        <td>/</td>
        <td>/</td>
        <td>Regional Supply Office Staff</td>
        <td>
            <button type="button" data-toggle="modal" data-target="#myModal">Edit</button>
        </td>
        <td><input type="image" src="images/delete.jpg" alt="Submit" width="15" height="15"></td>
    </tr>
</table>